@import
url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,400i,600,700,800,900');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/*****typography****/
.maintitle {
  font-size: 2.5rem;
}

.subtitle{
  font-weight: 400;
  display: block;
  font-style: italic;
}

@media (min-width:50rem){
  .maintitle {
    font-size: 3.7rem;
  }
  .subtitle {
    font-size:1.7rem;
  }
}

/*****header*****/
header {
  background-color: #FFF;
  position: fixed;
  padding: 25px;
  width: 100%;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

.site-nav {
  position: absolute;
  text-align: center;
  top: 100%;
  right: 0;
  background-color: lightblue;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #FFF;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 2em 6em;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: green;
  color: white;
}


.menu-toggle {
  background-color: #FFF;
  padding: 1em;
  position: absolute;
  right: 1em;
  bottom: 101.3%;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background-color: black;
  height: 3px;
  width: 1.5em;
  border-radius: 5px;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}



@media (min-width: 50rem) {
  header {
   position: fixed;
   background-color: #FFF;
   margin: 0;
   width: 100%;
  }

  .site-nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    top: 10%;
    right: 50%;
  }

  .site-nav li {
    display: inline-block;
    margin: 1em auto;
  }

  .site-nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 1em;
    color: #021b42;
  }

  .site-nav a:hover,
  .site-nav a:focus {
    color: #4980d8;
    text-decoration: underline;
  }
}

/*****home*****/
.home {
  background-image: url(../img/homebackground6.jpg);
  background-size: cover;
  background-position: center;
  padding: 10em 0;
  color: #FFF;
}

@media (min-width: 50rem) {
  .home {
    height: 100vh;
    padding-top: 35vh;
  }
}

/*****about*****/
.about
